*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/review1.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items:center;
}
nav img{
    width:200px;
}
.nav-links{
    flex:1;
    text-align:right;
}
.nav-links ul li{
list-style:none;
display: inline-block;
padding:8px 12px;
position:relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration:none;
    font-size: 40px;
}
.nav-links ul li::after{
    content:'';
    width:0px;
    height:2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width:100%;
}
.text-box{
    width:90%;
    color:#fff;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 65px;
    color: #fff;
}
.text-box h3{
    font-size: 40px;
    color: #fff;
}
.text-box h4{
        font-size: 40px;
        color: #fff;

}
.text-size p{
    margin: 10px 0 40px;
    font-size: 40px;
    color: #fff;
}
.hero-btn{
    display:inline-block;
    text-decoration:none;
    color:#fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 40px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
border: 1px solid #f44336;
background: #f44336;
transition: 1s;
}
nav .fa{
    display:none;
}
@media(max-width: 700px){
    .text-box h1{
    font-size: 20px;
    }
    .nav-links ul li{
        display:block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top:0;
        right:-200px;
        text-align:left;
        z-index:2;
        transition: 1s;
    }
    nav.fa{
        display:block;
        color:#fff;
        margin:10px;
        font-size:27px;
        cursor: pointer;
    }
    .nav-links{
        padding:30px;
    }
}
.Gallery{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top:100px;
}
h1{
    font-size: 60px;
    font-weight:600 ;
    color: #080808;
}
h4{
        font-size: 35px;
        font-weight:600 ;
        color: #080808;
}
p{
    color: black;
    font-size: 25px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top:5%;
    display:flex;
    justify-content: space-evenly;
}
.Gallery-col{
    flex-basis: 31%;
    background: #dfd8d8;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing:border-box ;
    transition:0.5s;
}
h3{
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #080808;
}
.Gallery-col:hover{
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.2);
}
.OurTeam{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top:100px;
}
h1{
    font-size: 60px;
    font-weight:600 ;
    color: #080808;
}
p{
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    color: #080808;
}
.row2{
    margin-top:5%;
    display:flex;
    justify-content: space-between;
}

.OurTeam-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 5px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing:border-box ;
    transition:0.5s;
}
h3{
    font-size:40px;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #000;
}
.OurTeam-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width:700px)
{
    .row
    {
        flex-direction: column;
    }
    .row2
    {
        flex-direction: column;
    }
}
.OurWork{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top:100px;
}
h1{
    font-size: 60px;
    font-weight:600 ;
    color: #000;
}
p{
    color: rgb(5, 5, 5);
    font-size: 25px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row5{
    margin-top:5%;
    display:flex;
    justify-content: space-evenly;
}

.OurWork-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing:border-box ;
    transition:0.5s;
}
h3{
    font-size:40px;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #000;
}
.OurWork-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.363);
}
.Blog{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
.row3{
    margin-top:5%;
    display:flex;
    justify-content: space-evenly;
}
h1{
    font-size:60px;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
h2{
    font-size:52px;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
h4{
    font-size:35px;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.Blog-col{
    flex-basis: 45%;
    background: currentColor;
    border-radius: 31%;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing:border-box ;
    transition:0.5s;
}
.Blog-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.363);
}
.row6{
    margin-top:5%;
    display:flex;
    justify-content: space-between;
}
.row7{
    margin-top:5%;
    display:flex;
    justify-content: space-between;
}
.row8{
    margin-top:5%;
    display:flex;
    justify-content: space-between;
}
.Reviews{
    width:80%;
    margin:auto;
    padding-top:100px;
    text-align:left;
}
.Reviews-col{
    flex-basis:40%;
    border-radius:10px;
    margin-bottom: 5%;
    text-align: left;
    background:#fff3f3;
    padding:25px;
    cursor:pointer;
    display:flex;
    font-size: 35px;
}
.Reviews-col img{
    height:40px;
    margin-left:5px;
    margin-right:5px;
    border-radius:50%;

}
.Reviews-col h3{
margin-top:15px;
text-align:left;
}
.Reviews-col h4{
    margin-top:15px;
    text-align:left;
}
.Reviews-col.icon{
    color:#5612d3;
    font-size: 60px;
}
@media(max-width:700px)
{
    .Reviews-col img{
        margin-left:0px;
        margin-right:15px;
    }
}
.ContactUs{
    margin:100px auto;
    width:80%;
   /* background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(Images/Image4.jpeg);*/
    background-image: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.ContactUs h1{
color: #080808;

}
@media(max-widt:700px) 
{
    .ContactUs h1{
        font-size: 24px;
    }
}
.FollowUs{
    width: 100%;
    text-align:center;
    padding:30px 0;
}
.FollowUs h1{
margin-bottom:50px;
margin-top:20px;
font-weight:600;
}
.FollowUs h4{
    margin-bottom:30px;
    margin-top:20px;
    font-weight:600;
 }
.icons{
    color:#e011f3;
    margin:0 13px;
    cursor: pointer;
    padding:18px;
    font-size:50px;
}
.icons:hover{
box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.2);
}
/*--------aubout us page------*/
.sub-header{
    height: 50vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/Image2.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center ;
    color: #fff;
}
.sub-header h1{
    margin-top: 100px;
}
.About-us{
    width:80%;
    margin:auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.About-col{
    flex-basis: 48%;
    padding:30px 2px;
}
.About-col img{
    width:100%;
}
.About-col h1{
    padding-top:0;
}
.About-col h4{
    padding: 15px 0 25px;
    font-size: 40px;
}
.red-btn{
    border:1px solid #f44336;
     background: transparent;
     color: #f44336;
     text-align: center;
}
.red-btn:hover{
    color:#fff;
}
.blog-content{
    width:80%;
    margin:auto;
    padding:60px 0;
}
.blog-left{
    flex-basis:65%;
}
.blog-left img{
    width: 100%;
}
.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}
.blog-left p{
    color: rgb(17, 16, 16);
    padding: 0;
    font-size: 25px;
    font-family:'Poppins';
}
.blog-right{
    flex-basis:32%;
}
.blog-right h3{
    background: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 40px;
    margin-bottom:20px ;
}
.blog-right div{
    display: flex;
    align-items:center;
    justify-content:space-between;
    color:#555;
    padding: 8px;
    box-sizing: border-box;
    font-size: 30px;
}
.comment-box{
    border:1px solid #ccc;
    margin:50px 0;
    padding:10px 20px;
}
.comment-box h3{
    text-align: left;
}
.comment-form input,.comment-form textarea
{
    width:100%;
    padding:10px;
    margin:15px 0;
    box-sizing: border-box;
    border:none;
    outline:none;
    background:#f0f0f0;
    font-size: 40px ;
}
.comment-form button{
    margin:10px 0;
}
@media(max-width:700px)
{
    .sub-header h1{
        font-size:24px;
    }
}

.Location{
    width: 80%;
    margin: auto;
    padding: 80px 0; 
}
.Location iframe{
    width:100%;
}
.contact-us{
    width:80%;
    margin:auto;
    background-color: #fff;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
    background-color: #fff;
}
.contact-col div{
    display: flex;
    align-items:center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 35px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div .fas
{
    font-size: 35px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div .h4
{
    font-size: 25px;
   margin-bottom: 5px;
   color: #555;
   font-weight: 400;
}
.contact-col input,.contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border:1px solid #ccc;
    box-sizing: border-box;
    font-size: 25px;
}































